@import "tailwindcss";

/* .profile{
    position: relative;
    border: 0;
    border-radius: 50%;
}

.profile::after{
    content: '';
    position: absolute;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
} */

.scroll {
  width: 100%;
  height: 300px;
  overflow-y: auto;
}

/* Scrollbar styles only apply to this div */
.scroll::-webkit-scrollbar {
  width: 8px;
}

.scroll::-webkit-scrollbar-track {
  background: #1e1e1e; /* background inside the scrollbar */
}

.scroll::-webkit-scrollbar-thumb {
  background-color: #9333ea; /* purple thumb */
  border-radius: 8px;
}

.scroll::-webkit-scrollbar-thumb:hover {
  background-color: #a855f7; /* lighter purple on hover */
}

/* For Firefox */
.scroll {
  scrollbar-width: thin;
  scrollbar-color: #9333ea #1e1e1e;
}
